#wpsl-enquiry-form-tbl td{
	padding: 10px;
}
#user-email{
	width: 100%;
}
.wpsl-send-enquiry-spinner{
	display: none;
	margin-top: 4px;
}
#wpsl_enquiry_success {
    margin-left: 0;
    width: 26%;
    display: none;
}
.tick-icon{
	height: 50px;
	width: 50px;
}
.wpsl-environments, .wpsl-support-mail {
    background-color: #fff;
    border: 1px solid;
    margin-bottom: 10px;
    padding: 20px;
}